Microsoft.Teams.Apps.CompanyCommunicator.DL.LogicApp/LogicApp.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "[resourceGroup().location]",
        "australiaeast",
        "australiasoutheast",
        "brazilsouth",
        "centralus",
        "eastasia",
        "eastus",
        "eastus2",
        "japaneast",
        "japanwest",
        "northcentralus",
        "northeurope",
        "southcentralus",
        "southeastasia",
        "westeurope",
        "westus"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    }
  },
  "variables": {},
  "resources": [
    {
      "name": "[parameters('logicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "apiVersion": "2016-06-01",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "For_each": {
              "actions": {
                "Condition": {
                  "actions": {
                    "Condition_4": {
                      "actions": {
                        "Set_variable": {
                          "inputs": {
                            "name": "varGroupType",
                            "value": "Microsoft O365 Group"
                          },
                          "runAfter": {},
                          "type": "SetVariable"
                        }
                      },
                      "expression": {
                        "and": [
                          {
                            "contains": [
                              "@items('For_each')?['groupTypes']",
                              "Unified"
                            ]
                          }
                        ]
                      },
                      "runAfter": {},
                      "type": "If"
                    },
                    "Condition_5": {
                      "actions": {
                        "Set_variable_2": {
                          "inputs": {
                            "name": "varGroupType",
                            "value": "Mail Enabled Security Group"
                          },
                          "runAfter": {},
                          "type": "SetVariable"
                        }
                      },
                      "expression": {
                        "and": [
                          {
                            "not": {
                              "contains": [
                                "@items('For_each')?['groupTypes']",
                                "Unified"
                              ]
                            }
                          },
                          {
                            "equals": [
                              "@items('For_each')?['securityEnabled']",
                              true
                            ]
                          },
                          {
                            "equals": [
                              "@items('For_each')?['mailEnabled']",
                              true
                            ]
                          }
                        ]
                      },
                      "runAfter": {
                        "Condition_4": [
                          "Succeeded"
                        ]
                      },
                      "type": "If"
                    },
                    "Condition_6": {
                      "actions": {
                        "Set_variable_3": {
                          "inputs": {
                            "name": "varGroupType",
                            "value": "Distribution Group"
                          },
                          "runAfter": {},
                          "type": "SetVariable"
                        }
                      },
                      "expression": {
                        "and": [
                          {
                            "not": {
                              "contains": [
                                "@items('For_each')?['groupTypes']",
                                "Unified"
                              ]
                            }
                          },
                          {
                            "equals": [
                              "@items('For_each')?['securityEnabled']",
                              false
                            ]
                          },
                          {
                            "equals": [
                              "@items('For_each')?['mailEnabled']",
                              true
                            ]
                          }
                        ]
                      },
                      "runAfter": {
                        "Condition_5": [
                          "Succeeded"
                        ]
                      },
                      "type": "If"
                    },
                    "Condition_7": {
                      "actions": {
                        "Set_variable_4": {
                          "inputs": {
                            "name": "varGroupType",
                            "value": "Security Group"
                          },
                          "runAfter": {},
                          "type": "SetVariable"
                        }
                      },
                      "expression": {
                        "and": [
                          {
                            "not": {
                              "contains": [
                                "@items('For_each')?['groupTypes']",
                                "Unified"
                              ]
                            }
                          },
                          {
                            "equals": [
                              "@items('For_each')?['securityEnabled']",
                              true
                            ]
                          },
                          {
                            "equals": [
                              "@items('For_each')?['mailEnabled']",
                              false
                            ]
                          }
                        ]
                      },
                      "runAfter": {
                        "Condition_6": [
                          "Succeeded"
                        ]
                      },
                      "type": "If"
                    },
                    "Insert_Entity": {
                      "inputs": {
                        "body": {
                          "DLID": "@{items('For_each')?['id']}",
                          "DLMail": "@{items('For_each')?['mail']}",
                          "DLName": "@{items('For_each')?['displayName']}",
                          "GroupType": "@{variables('varGroupType')}",
                          "PartitionKey": "Default",
                          "RowKey": "@{items('For_each')?['id']}"
                        },
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['azuretables']['connectionId']"
                          }
                        },
                        "method": "post",
                        "path": "/Tables/@{encodeURIComponent('DistributionLists')}/entities"
                      },
                      "runAfter": {
                        "Condition_7": [
                          "Succeeded"
                        ]
                      },
                      "type": "ApiConnection"
                    }
                  },
                  "else": {
                    "actions": {
                      "Condition_8": {
                        "actions": {},
                        "else": {
                          "actions": {
                            "Insert_or_Merge_Entity": {
                              "inputs": {
                                "body": {
                                  "DLName": "@{items('For_each')?['displayName']}"
                                },
                                "host": {
                                  "connection": {
                                    "name": "@parameters('$connections')['azuretables']['connectionId']"
                                  }
                                },
                                "method": "patch",
                                "path": "/Tables/@{encodeURIComponent('DistributionLists')}/entities(PartitionKey='@{encodeURIComponent('Default')}',RowKey='@{encodeURIComponent(items('For_each')?['id'])}')"
                              },
                              "runAfter": {},
                              "type": "ApiConnection"
                            }
                          }
                        },
                        "expression": {
                          "and": [
                            {
                              "equals": [
                                "@items('For_each')?['DLName']",
                                "@items('For_each')?['displayName']"
                              ]
                            }
                          ]
                        },
                        "runAfter": {},
                        "type": "If"
                      }
                    }
                  },
                  "expression": {
                    "or": [
                      {
                        "equals": [
                          "@outputs('Get_entity')['statusCode']",
                          404
                        ]
                      }
                    ]
                  },
                  "runAfter": {
                    "Get_entity": [
                      "Succeeded",
                      "Failed"
                    ]
                  },
                  "type": "If"
                },
                "Condition_3": {
                  "actions": {},
                  "else": {
                    "actions": {
                      "For_each_2": {
                        "actions": {
                          "Condition_2": {
                            "actions": {
                              "Insert_Entity_2": {
                                "inputs": {
                                  "body": {
                                    "DLName": "@{items('For_each')?['displayName']}",
                                    "PartitionKey": "Default",
                                    "RowKey": "@{concat(items('For_each')?['id'],items('For_each_2')?['id'])}",
                                    "TeamsID": "@{items('For_each')?['id']}",
                                    "UserEmail": "@{items('For_each_2')?['mail']}",
                                    "UserID": "@{items('For_each_2')?['id']}",
                                    "UserName": "@{items('For_each_2')?['displayName']}"
                                  },
                                  "host": {
                                    "connection": {
                                      "name": "@parameters('$connections')['azuretables']['connectionId']"
                                    }
                                  },
                                  "method": "post",
                                  "path": "/Tables/@{encodeURIComponent('DLUsers')}/entities"
                                },
                                "runAfter": {},
                                "type": "ApiConnection"
                              }
                            },
                            "expression": {
                              "and": [
                                {
                                  "equals": [
                                    "@outputs('Get_entity_2')['statusCode']",
                                    404
                                  ]
                                }
                              ]
                            },
                            "runAfter": {
                              "Get_entity_2": [
                                "Succeeded",
                                "Failed"
                              ]
                            },
                            "type": "If"
                          },
                          "Get_entity_2": {
                            "inputs": {
                              "host": {
                                "connection": {
                                  "name": "@parameters('$connections')['azuretables']['connectionId']"
                                }
                              },
                              "method": "get",
                              "path": "/Tables/@{encodeURIComponent('DLUsers')}/entities(PartitionKey='@{encodeURIComponent('Default')}',RowKey='@{encodeURIComponent(concat(items('For_each')?['id'],items('For_each_2')?['id']))}')"
                            },
                            "runAfter": {},
                            "type": "ApiConnection"
                          }
                        },
                        "foreach": "@body('HTTP_2')['value']",
                        "runAfter": {},
                        "type": "Foreach"
                      }
                    }
                  },
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          "@length(body('HTTP_2')['value'])",
                          0
                        ]
                      }
                    ]
                  },
                  "runAfter": {
                    "Condition_9": [
                      "Succeeded"
                    ]
                  },
                  "type": "If"
                },
                "Condition_9": {
                  "actions": {
                    "For_each_3": {
                      "actions": {
                        "Delete_Entity": {
                          "inputs": {
                            "host": {
                              "connection": {
                                "name": "@parameters('$connections')['azuretables']['connectionId']"
                              }
                            },
                            "method": "delete",
                            "path": "/Tables/@{encodeURIComponent('DLUsers')}/entities/etag(PartitionKey='@{encodeURIComponent('Default')}',RowKey='@{encodeURIComponent(concat(item()?['TeamsID'],item()?['UserID']))}')"
                          },
                          "runAfter": {},
                          "type": "ApiConnection"
                        }
                      },
                      "foreach": "@body('Get_entities')?['value']",
                      "runAfter": {},
                      "type": "Foreach"
                    }
                  },
                  "else": {
                    "actions": {
                      "Condition_10": {
                        "actions": {},
                        "else": {
                          "actions": {
                            "For_each_4": {
                              "actions": {
                                "Condition_11": {
                                  "actions": {
                                    "Delete_Entity_2": {
                                      "inputs": {
                                        "host": {
                                          "connection": {
                                            "name": "@parameters('$connections')['azuretables']['connectionId']"
                                          }
                                        },
                                        "method": "delete",
                                        "path": "/Tables/@{encodeURIComponent('DLUsers')}/entities/etag(PartitionKey='@{encodeURIComponent('Default')}',RowKey='@{encodeURIComponent(concat(item()?['TeamsID'],item()?['UserID']))}')"
                                      },
                                      "runAfter": {},
                                      "type": "ApiConnection"
                                    }
                                  },
                                  "expression": {
                                    "and": [
                                      {
                                        "equals": [
                                          "@length(body('Filter_array'))",
                                          0
                                        ]
                                      }
                                    ]
                                  },
                                  "runAfter": {
                                    "Filter_array": [
                                      "Succeeded"
                                    ]
                                  },
                                  "type": "If"
                                },
                                "Filter_array": {
                                  "inputs": {
                                    "from": "@body('HTTP_2')['value']",
                                    "where": "@equals(item()?['id'], items('For_each_4')?['UserID'])"
                                  },
                                  "runAfter": {},
                                  "type": "Query"
                                }
                              },
                              "foreach": "@body('Get_entities')?['value']",
                              "runAfter": {},
                              "type": "Foreach"
                            }
                          }
                        },
                        "expression": {
                          "and": [
                            {
                              "equals": [
                                "@length(body('HTTP_2')['value'])",
                                0
                              ]
                            },
                            {
                              "equals": [
                                "@length(body('Get_entities')?['value'])",
                                0
                              ]
                            }
                          ]
                        },
                        "runAfter": {},
                        "type": "If"
                      }
                    }
                  },
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          "@length(body('HTTP_2')['value'])",
                          0
                        ]
                      },
                      {
                        "not": {
                          "equals": [
                            "@length(body('Get_entities')?['value'])",
                            0
                          ]
                        }
                      }
                    ]
                  },
                  "runAfter": {
                    "Get_entities": [
                      "Succeeded"
                    ]
                  },
                  "type": "If"
                },
                "Get_entities": {
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['azuretables']['connectionId']"
                      }
                    },
                    "method": "get",
                    "path": "/Tables/@{encodeURIComponent('DLUsers')}/entities",
                    "queries": {
                      "$filter": "TeamsID eq '@{items('For_each')?['id']}'"
                    }
                  },
                  "runAfter": {
                    "HTTP_2": [
                      "Succeeded"
                    ]
                  },
                  "type": "ApiConnection"
                },
                "Get_entity": {
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['azuretables']['connectionId']"
                      }
                    },
                    "method": "get",
                    "path": "/Tables/@{encodeURIComponent('DistributionLists')}/entities(PartitionKey='@{encodeURIComponent('Default')}',RowKey='@{encodeURIComponent(items('For_each')?['id'])}')"
                  },
                  "runAfter": {},
                  "type": "ApiConnection"
                },
                "HTTP_2": {
                  "inputs": {
                    "authentication": {
                      "audience": "https://graph.microsoft.com/",
                      "clientId": "7f071013-13c8-4858-b9cf-5b9fadfe5223",
                      "secret": "9va-bO.69APmPnNx~TAB~ho2nXg216P5OH",
                      "tenant": "73e2dc65-e18d-4421-8da7-e96d82b63aae",
                      "type": "ActiveDirectoryOAuth"
                    },
                    "method": "GET",
                    "uri": "https://graph.microsoft.com/v1.0/groups/@{items('For_each')?['id']}/members"
                  },
                  "runAfter": {
                    "Condition": [
                      "Succeeded"
                    ]
                  },
                  "type": "Http"
                }
              },
              "foreach": "@body('HTTP')['value']",
              "runAfter": {
                "Initialize_variable_2": [
                  "Succeeded"
                ]
              },
              "type": "Foreach"
            },
            "HTTP": {
              "inputs": {
                "authentication": {
                  "audience": "https://graph.microsoft.com/",
                  "clientId": "7f071013-13c8-4858-b9cf-5b9fadfe5223",
                  "secret": "9va-bO.69APmPnNx~TAB~ho2nXg216P5OH",
                  "tenant": "73e2dc65-e18d-4421-8da7-e96d82b63aae",
                  "type": "ActiveDirectoryOAuth"
                },
                "method": "GET",
                "uri": "https://graph.microsoft.com/v1.0/groups"
              },
              "runAfter": {},
              "type": "Http"
            },
            "Initialize_variable": {
              "inputs": {
                "variables": [
                  {
                    "name": "varGroupType",
                    "type": "string"
                  }
                ]
              },
              "runAfter": {
                "HTTP": [
                  "Succeeded"
                ]
              },
              "type": "InitializeVariable"
            },
            "Initialize_variable_2": {
              "inputs": {
                "variables": [
                  {
                    "name": "Flag",
                    "type": "boolean",
                    "value": "@false"
                  }
                ]
              },
              "runAfter": {
                "Initialize_variable": [
                  "Succeeded"
                ]
              },
              "type": "InitializeVariable"
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {},
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "Recurrence": {
              "recurrence": {
                "frequency": "Month",
                "interval": 1
              },
              "type": "Recurrence"
            }
          }
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuretables": {
                "connectionId": "/subscriptions/98590240-1726-40d9-a6ea-8fdc1fc448b3/resourceGroups/MS-ECIF-Programs/providers/Microsoft.Web/connections/azuretables",
                "connectionName": "azuretables",
                "id": "/subscriptions/98590240-1726-40d9-a6ea-8fdc1fc448b3/providers/Microsoft.Web/locations/centralus/managedApis/azuretables"
              }
            }
          }
        }
      }
    }
  ],
  "outputs": {}
}